main[role="main"] {
  padding: 40px 0;
}

body.home main[role="main"] {
  padding: 0;
}
/* header */

#mainNav {
  transition: all 0.8s ease-in;

  &.nav-background {
    .header-logo {
      top: 0;
      transition: all 0.8s ease-in;
      background-color: rgba(255,255,255,1);
    }
  }
  @media(max-width: 767px) {
    .header-logo {
      top: 0;

      .logo-img {
        max-height: 63px;
      }
    }
  }
}

.news-meta {
  font-size: 12px;
  display: block;
  margin: 10px 0 30px;
}
/* slider in homepage */

.box-home-carousel,
.hotel-info-home {
  .owl-nav {
    display: none;
  }
}

.hotel-info-home {
  .home-award-title {
    h3 {
      display: none;
    }
  }
}

.hotel-info-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  display: block;
  background-position: center;
  overflow: hidden;
  height: 400px;
  position: relative;
  color: #fff;

  &:after {
    position: absolute;
    background: rgba(0,0,0,.5);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }

  p {
    line-height: 24px;
  }

  .home-award-title {
    h3 {
      margin: 40px 0 30px;
      position: relative;
      z-index: 1;
    }
  }

  .home-carousel {
    padding-top: 40px;

    .title-slide {
      text-align: center;

      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }
}
/* homepage slider */

.home-slider {
  @media(max-width: 1024px) {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    background-attachment: scroll;
  }
}
/* heading */

.room-title {
  h2 {
    margin: 20px 0;
  }
}

.box-heading {
  text-align: center;

  h2 {
    margin: 20px 0;
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(50% - 35px);
      height: 3px;
      width: 75px;
      background: #ebebeb;
    }
  }
}

.box-bg {
  margin: 40px 0;
}

#box-feature {
  background-attachment: fixed;
  position: relative;

  &:before {
    background: rgba(0,0,0,.3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .box-thumb {
    a {
      h4 {
        text-align: center;
        color: #fff;
      }
    }
  }
}

.gallery-box {
  margin: 0 -15px;

  .item {
    position: relative;
    float: left;
    padding: 0 15px;
    max-height: 350px;
    margin-bottom: 30px;

    .thumbnails {
      position: relative;
      padding-bottom: 46%;
      overflow: hidden;
      display: block;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        object-fit: cover;
        max-width: none;
      }
    }

    .title-gallery-home {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:nth-of-type(1) {
      width: 66.66%;
    }

    &:nth-of-type(2) {
      width: 33.33%;
      @media(min-width: 768px) {
        .thumbnails {
          padding-bottom: 96.25%;
        }
      }
    }

    &:nth-of-type(3) {
      width: 33.33%;
      @media(min-width: 768px) {
        .thumbnails {
          padding-bottom: 96.25%;
        }
      }
    }

    &:nth-of-type(4) {
      width: 66.66%;
    }
    @media(max-width: 767px) {
      &:nth-of-type(n) {
        width: 100%;
      }
    }
  }
}
/* room detail */

.room-image {
  position: relative;

  .carousel-inner {
    .item {
      span {
        position: relative;
        height: 0;
        padding-bottom: 67.25%;
        overflow: hidden;
        display: block;

        img {
          position: absolute;
          width: auto;
          height: 100%;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .carousel-control span {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}

.room-info-spec {
  margin-bottom: 20px;

  p {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
/* booking form */

.booking-box {
  width: 100%;
}

.booking-section {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;

  .bookid-wrapper {
    padding: 10px 10px 0!important !important;
    @media(max-width: 767px) {
      &.krs-hidden {
        opacity: 1!important;
      }
    }
  }
}
/* gallery page */

body.gallery {
  .box-gallery {
    border: 0!important;
  }

  .gallery-view {
    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;

      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }

    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px) {
          padding: 10px;
          font-size: 14px;
        }
      }
    }

    .slick-prev {
      left: 20px;
      z-index: 1;
    }

    .slick-next {
      right: 20px;
    }
  }

  .gallery-nav {
    display: none;
  }
}
/* contact icon */

.contact-info {
  .info-text {
    margin-bottom: 20px;

    .info-icon {
      display: inline-block;
      vertical-align: top;
      width: 15%;
      float: none;
      text-align: center;
      @media(max-width: 767px) {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }

      .icon-round {
        width: 37px;
        height: 37px;
        line-height: 37px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;

        i {
          font-size: 14px;
        }
      }
    }

    .info-content {
      display: inline-block;
      vertical-align: middle;
      width: 83%;
      box-sizing: border-box;
      padding-left: 10px;

      ul {
        list-style: none;
        padding-left: 0;
      }
      @media(max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  @media(max-width: 767px) {
    margin-bottom: 40px;
  }
}

.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      padding: 5px;

      &:focus {
        border: 1px solid #cec8c8;
      }
    }

    input {
      min-height: 40px;
      padding-left: 5px;
      &:focus {
        min-height: 40px;
      }
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
    margin-top: 10px;
  }
}

.box-container {
  .thumb {
    a {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
      }
    }
  }
}
/* footer */

footer .menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  color: #fff;
  padding-top: 30px;

  i,
  p {
    display: inline-block;
  }

  a {
    color: $color-white;
  }
}

.footer-credits {
  text-align: center;
  font-size: 13px;
  color: $color-white;
  padding: 10px 0;

  a {
    color: $color-white;
  }
}

.inner-news {
  .thumb {
    a {
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

h2.title-room-list a {
  text-align: left;
}

.box-room {
  .box-thumb {
    h4 {
      color: #fff;
      text-align: center;
    }

    a {
      position: relative;
      height: 0;
      padding-bottom: 65.25%;
      display: block;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
main[role="main"] {
  padding: 40px 0;
}

body.home main[role="main"] {
  padding: 0;
}
/* header */

#mainNav {
  transition: all 0.8s ease-in;

  &.nav-background {
    .header-logo {
      top: 0;
      transition: all 0.8s ease-in;
      background-color: rgba(255,255,255,1);
    }
  }
  @media(max-width: 767px) {
    .header-logo {
      top: 0;

      .logo-img {
        max-height: 63px;
      }
    }
  }
}

.news-meta {
  font-size: 12px;
  display: block;
  margin: 10px 0 30px;
}
/* slider in homepage */

.box-home-carousel,
.hotel-info-home {
  .owl-nav {
    display: none;
  }
}

.hotel-info-home {
  .home-award-title {
    h3 {
      display: none;
    }
  }
}

.hotel-info-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  display: block;
  background-position: center;
  overflow: hidden;
  height: 400px;
  position: relative;
  color: #fff;

  &:after {
    position: absolute;
    background: rgba(0,0,0,.5);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }

  p {
    line-height: 24px;
  }

  .home-award-title {
    h3 {
      margin: 40px 0 30px;
      position: relative;
      z-index: 1;
    }
  }

  .home-carousel {
    padding-top: 40px;

    .title-slide {
      text-align: center;

      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }
}
/* homepage slider */

.home-slider {
  @media(max-width: 1024px) {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    background-attachment: scroll;
  }
}
/* heading */

.room-title {
  h2 {
    margin: 20px 0;
  }
}

.box-heading {
  text-align: center;

  h2 {
    margin: 20px 0;
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(50% - 35px);
      height: 3px;
      width: 75px;
      background: #ebebeb;
    }
  }
}

.box-bg {
  margin: 40px 0;
}

#box-feature {
  background-attachment: fixed;
  position: relative;

  &:before {
    background: rgba(0,0,0,.3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .box-thumb {
    a {
      h4 {
        text-align: center;
        color: #fff;
      }
    }
  }
}

.gallery-box {
  margin: 0 -15px;

  .item {
    position: relative;
    float: left;
    padding: 0 15px;
    max-height: 350px;
    margin-bottom: 30px;

    .thumbnails {
      position: relative;
      padding-bottom: 46%;
      overflow: hidden;
      display: block;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        object-fit: cover;
        max-width: none;
      }
    }

    .title-gallery-home {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:nth-of-type(1) {
      width: 66.66%;
    }

    &:nth-of-type(2) {
      width: 33.33%;
      @media(min-width: 768px) {
        .thumbnails {
          padding-bottom: 96.25%;
        }
      }
    }

    &:nth-of-type(3) {
      width: 33.33%;
      @media(min-width: 768px) {
        .thumbnails {
          padding-bottom: 96.25%;
        }
      }
    }

    &:nth-of-type(4) {
      width: 66.66%;
    }
    @media(max-width: 767px) {
      &:nth-of-type(n) {
        width: 100%;
      }
    }
  }
}
/* room detail */

.room-image {
  position: relative;

  .carousel-inner {
    .item {
      span {
        position: relative;
        height: 0;
        padding-bottom: 67.25%;
        overflow: hidden;
        display: block;

        img {
          position: absolute;
          width: auto;
          height: 100%;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .carousel-control span {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}

.room-info-spec {
  margin-bottom: 20px;

  p {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
/* booking form */

.booking-box {
  width: 100%;
}

.booking-section {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;

  .bookid-wrapper {
    padding: 10px 10px 0!important !important;
    @media(max-width: 767px) {
      &.krs-hidden {
        opacity: 1!important;
      }
    }
  }
}
/* gallery page */

body.gallery {
  .box-gallery {
    border: 0!important;
  }

  .gallery-view {
    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;

      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }

    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px) {
          padding: 10px;
          font-size: 14px;
        }
      }
    }

    .slick-prev {
      left: 20px;
      z-index: 1;
    }

    .slick-next {
      right: 20px;
    }
  }

  .gallery-nav {
    display: none;
  }
}
/* contact icon */

.contact-info {
  .info-text {
    margin-bottom: 20px;

    .info-icon {
      display: inline-block;
      vertical-align: top;
      width: 15%;
      float: none;
      text-align: center;
      @media(max-width: 767px) {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }

      .icon-round {
        width: 37px;
        height: 37px;
        line-height: 37px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;

        i {
          font-size: 14px;
        }
      }
    }

    .info-content {
      display: inline-block;
      vertical-align: middle;
      width: 83%;
      box-sizing: border-box;
      padding-left: 10px;

      ul {
        padding-left: 0;
      }
      @media(max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  @media(max-width: 767px) {
    margin-bottom: 40px;
  }
}

.wpcf7-form {
  p {
    margin-bottom: 10px;
  }

  label {
    font-weight: normal;
    width: 100%;

    input,
    textarea {
      width: 100%;
    }
  }

  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
  }
}

.box-container {
  .thumb {
    a {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
      }
    }
  }
}
/* footer */

footer .menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  color: #fff;
  padding-top: 30px;

  i,
  p {
    display: inline-block;
  }

  a {
    color: $color-white;
  }
}

.footer-credits {
  text-align: center;
  font-size: 13px;
  color: $color-white;
  padding: 10px 0;

  a {
    color: $color-white;
  }
}

.inner-news {
  .thumb {
    a {
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

h2.title-room-list a {
  text-align: left;
}

.box-room {
  .box-thumb {
    h4 {
      color: #fff;
      text-align: center;
    }

    a {
      position: relative;
      height: 0;
      padding-bottom: 65.25%;
      display: block;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.room-excerpt {
  margin-bottom: 20px;
}
@media(max-width: 767px) {
  .nav-bottom ul {
    padding-left: 0;

    li {
      display: block;
    }
  }
}
/* news page */

.inner-news {
  .title-room-list {
    text-align: left;
    margin: 0 0 10px;
  }

  .news-meta {
    display: block;
    margin-bottom: 10px;
  }

  .box-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    .thumb {
      a {
        padding-bottom: 67.25%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          overflow: hidden;
          height: auto;
        }
      }
    }

    &:hover {
      // background-color: #044300;
      // color: #fff;
    }
  }
}

.text {
  color: #fff;
}      }
    }
  }
}

.room-excerpt {
  margin-bottom: 20px;
}
@media(max-width: 767px) {
  .nav-bottom ul {
    padding-left: 0;

    li {
      display: block;
    }
  }
}
/* news page */

.inner-news {
  .title-room-list {
    text-align: left;
    margin: 0 0 10px;
  }

  .news-meta {
    display: block;
    margin-bottom: 10px;
  }

  .box-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    .thumb {
      a {
        padding-bottom: 67.25%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          overflow: hidden;
          height: auto;
        }
      }
    }

    &:hover {
      // background-color: #044300;
      // color: #fff;
    }
  }
}

.p1{
  text-align: center;
}
.text {
  color: #fff;
}
